.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  background: lightgoldenrodyellow;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
